.loader{
    background:#94ADB2;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader::after{
    content: "";
    background: url("../../images/loader-texture.webp");
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
}
.cloud_img{
    position: absolute;
    animation: 1s forwards 1.5s 1;
}
.cloud_img:nth-child(1){
    top: 16vw;
    left: -42vw;
    width: 122vw;
    z-index: 3;
    transform: rotate(-4.9deg);
    animation-name: cloud1;
}
@keyframes cloud1 {
    0%{
        top: 16vw;
        left: -42vw;
    }
    100%{
        top: 22vw;
        left: -62vw;  
        transform: rotate(0deg);
    }
}
.cloud_img:nth-child(2){
    top: 4vw;
    left: 32vw;
    width: 100vw;
    transform: rotate(25.79deg);
    z-index: 2;
    animation-name: cloud2;
}
@keyframes cloud2 {
    0%{
        top: 4vw;
        left: 32vw;
    }
    100%{
        top: 18vw;
        left: 59vw;
        transform: rotate(0deg);
    }
}
.cloud_img:nth-child(3){
    top: -18vw;
    left: -8vw;
    width: 110vw;
    transform: rotate(10.97deg);
    z-index: 1;
    animation-name: cloud3;
    
}
@keyframes cloud3 {
    0%{
        top: -18vw;
        left: -8vw;
    }
    100%{
        top: -30vw;
        left: -24vw;
        transform: rotate(0deg);
    }
}
.dedal-icarus_img{
    position: absolute;
    animation: 1s forwards 3s 1;
}
.dedal-icarus_img:nth-child(1){
    top: 6vw;
    left: 30vw;
    width: 28vw;
    animation-name: icarus;
}
@keyframes icarus {
    0%{
        top: 6vw;
        left: 30vw;
    }
    100%{
        top: 32vw;
        left: 20vw;    
    }
}
.dedal-icarus_img:nth-child(2){
    top: 25vw;
    left: 47vw;
    width: 34vw;
    animation-name: dedal;
}
@keyframes dedal {
    0%{
        top: 25vw;
        left: 47vw;
    }
    100%{
        top: 6vw;
        left: 60vw;
    }
}
.start-link{
    font-family: 'Ruthie', cursive;
    font-size: 42px;
    letter-spacing: 16px;
    text-transform: uppercase;
    transition: linear .6s;
    z-index: 5;
}

.start-link:hover{
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.505) 0 4px 4px;
}