.main{
    background:#94ADB2;
}
.main-wrapper{
    z-index: 5;
}
.main_content{
    margin-top: 16vh;
    text-transform: uppercase;
    letter-spacing: 2px;   
}
.main_subtitle{
    font-size: 12px;
}
.main_title{
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 6px;
}
.main_reg-btn{
    background-color:#96B1AE;
    border: 1px solid #000;
    text-align: center;
    font-size: 18px;
    display: block;
    width: 100%;
    margin-top: 36px;
    padding: 18px 6px;
    transition: .6s;
}
.main_reg-btn:hover{
    color: #fff;
    background-color:#8fa8a5;
}
.venus{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50vh;
}
.angels{
   display: none;
}

@media (min-width: 576px) {

    .main_subtitle{
        font-size: 16px;
    }
    .main_title{
        font-size: 80px;
    }
    .main_reg-btn{
        font-size: 22px;
        margin-top: 36px;
       
        padding: 24px 6px;
    }

    
}
@media (min-width: 992px) {
    .main-wrapper{
        
        display: flex;
        align-items: center;
    }
    .main_content{
        margin-top: 0;
        margin-left: 90px;
    }
   
    .main_reg-btn{
        width: 340px;
    }

    .venus{
        height: 90vh;
    }
    .angels{
        display: block;
    }
    .angel{
        position: absolute;
        width: 116px;
    }
    .angel:nth-child(1){
        bottom: 2vw;
        left: 8vw;
    }
    .angel:nth-child(2){
        bottom: 5vw;
        left: 50vw;
    }
    .angel:nth-child(3){
        top: 3vw;
        left: 7vw;
    }
}
@media (min-width: 1200px) {
    .angel{
      
        width: 140px;
    }
    .angel:nth-child(2){
        bottom: 8vw;
        left: 40vw;
    }
   
   
}