@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ruthie&display=swap');

body {
  font-family: 'Red Hat Text', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
h1, h2, h3, h4, h5, h6, 
ul, ol, dd,
p,
fieldset,
input,
textarea,
button{
  margin:0; 
  padding:0; 
}
ul, ol, dd { 
  list-style:none; 
}
fieldset, 
input,
button { 
  border-width:0; 
  outline: none;
}
a { 
  text-decoration:none;   
}
